---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ValueGrid from '../components/ValueGrid.astro';
import HardwareSpecs from '../components/HardwareSpecs.astro';
import Fortress from '../components/Fortress.astro';
import ActionFooter from '../components/ActionFooter.astro';
---

<Layout title="nexxos AI Hub | Sovereign Hyperscale Infrastructure LATAM">
  <Navbar />

  <main>
    <Hero />
    <ValueGrid />
    <HardwareSpecs />
    <Fortress />
  </main>
  
  <ActionFooter />
</Layout>

